* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  .logo{

    width: 250px;
    height: 250px;
    justify-content: center; 
    text-align: center;
    margin: -5% 0% 0% 0%;
    display: flex;

  }
  .titulo{
    font-family: Lucida Bright, Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1px gray;
    justify-content: center; 
    text-align: center;
    margin:5% 15% 0% 0%;
    display: flex;}
  
  body {
    

   background-image: url("img/fondo.jpg");
    background-size: 100%;
  }
  
  
  .main {
    text-align: center;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
 .pasteles{

    text-align: center;
    
    justify-content: left;

 }
  
  
  
  .box {
    color: white;
  background-image: url("img/menu (2).png");
  background-size: contain;
  font-weight: 800;
  -webkit-text-stroke: 0.5px gray;
    width: 450px;
    height: 550px;
    padding: 50px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 0.5em;
   
  }
  .columna1 {
  float: left;
  margin-left: 0px;
  
  width: 45%;
  clear: both;
  border: 3px solid;
  margin-left: 0;
  



  }
    .columna2 {
   float: right;
  margin-right: 2.564102564102564%;
  width: 45%;
  border: 3px solid;
  


  }
  
  .boton {
 background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    margin-top: 150px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  
  
  
  footer {
  
  
    -webkit-text-stroke: 0.5px gray;
    color: black;
   font-size: 20px;
   
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    
  }
  
