* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

.logo{

    width: 250px;
    height: 250px;
    justify-content: center; 
    text-align: center;
    margin: -5% 0% 0% 0%;
    display: flex;
}
  
  .titulo{
    font-family: Lucida Bright, Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1.2px black;
    color: black;
    justify-content: center; 
    text-align: center;
    margin:5% 15% 0% 0%;
    display: flex;}
  
  body {
    

   background-image: url("D:/Cursos/Github/html/img/fondo2.jpg");
    background-size: 100%;
  }
  
  
  .main {
    text-align: center;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
 
  
  
  
  .box {
    color: black;
  background-image: url("D:/Cursos/Github/html/img/libreta.png");
  background-size: cover;
  font-weight: 800;
  -webkit-text-stroke: 0.5px gray;
    width: 450px;
    height: 650px;
    padding: 50px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 0.5em;
   
  }
  
  .boton {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.2em;
  }
  
  
  
  
  
 